@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      
}

.card-container{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; /* Full viewport height */
    background-color:hsl(212, 45%, 89%);
}
.card{
    flex-direction: row;
    background-color:hsl(0, 0%, 100%) ;
    border-radius: 5%;
    width: 450px;
    height: 730px;
    

}
.card-content{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.card-content img{
    width: 400px;
    border: none;
    border-radius: 7%;
    margin-top: 5%;  
}
.card-content h1{
    font-family: "Outfit", serif;
    color: hsl(218, 44%, 22%) ;
    margin-top: 10% ;
    margin-left: 5%;
    margin-right: 5%;
}
.card-content p{
    font-family: "Outfit", serif;
    color: hsl(216, 15%, 48%) ; 
    font-size: 20.3px;
    margin-left: 12%;
    margin-right: 12%;
}